/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.tag {
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 70px;
    text-decoration: none !important;
}