<div id="tags" data-hook="show_tags_on_resource">
  <% @product.tags.where(display: true).each do |tag| %>
    <span class="tag tag-<%= tag.id %>" style="background-color: <%= tag.color %>;">
        <%= tag.name %>
    </span>
  <% end %>
</div>